#app {
  width: 100cqw;
  height: 100cqh;

  background-color: oklch(0.8 0 0);
}

#app {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 100%;
  gap: 0.25rem;
}

.userList {
  box-sizing: border-box;

  height: 100%;

  padding: 0.5rem 1rem;
  background-color: oklch(0.975 0 0);
  border-radius: 0 1rem 1rem 0;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  overflow-y: scroll;
}

/* spacing & border */
.userList th,
.userList td {
  padding: 0.5rem 0.25rem;
}

.userList table {
  border-collapse: collapse;
}

.userList td {
  border-top: 0.025rem solid oklch(0.85 0 0);
}

/* detail */
.detail {
  box-sizing: border-box;

  padding: 1rem;
  background-color: oklch(0.975 0 0);
  border-radius: 1rem 0 0 1rem;
}

.detailNone {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detailPreSubmit,
.detailSubmit {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-y: auto;
}
