#manage {
  height: 100%;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content auto;
}

#manageNavBar {
  box-sizing: border-box;

  background-color: var(--bgLight);

  border-radius: 0 0 var(--15unit) var(--15unit);
  padding: var(--10unit) var(--15unit);

  display: flex;
  justify-content: space-between;
}

#manageNavBarBtns {
  display: flex;
  align-items: center;
  gap: var(--10unit);
}

.manageBtn {
  background-color: var(--bgDark);

  border: 0;
  border-radius: var(--10unit);
  padding: var(--5unit) var(--10unit);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--txt);
}

#manageContent {
  box-sizing: border-box;

  min-height: 0;

  display: grid;
  grid-template-columns: max-content auto;
  gap: var(--10unit);

  padding: var(--10unit);
}

#manageContent:has(#manageProjectListPanel) {
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
}

#manageProjectListPanel {
  box-sizing: border-box;

  width: var(--400unit);
  height: var(--800unit);

  background-color: var(--bgLight);

  border-radius: var(--15unit);

  padding: var(--15unit);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content minmax(0, auto);
  gap: var(--25unit);
}

#manageProjectList {
  overflow: auto;
}

.manageProjectListItemContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manageProjectListItemSep {
  padding: var(--3unit) var(--25unit);
}

.manageProjectListItemSep::before {
  display: block;

  content: "";

  width: 100%;
  height: var(--2unit);

  background-color: var(--stroke);

  border-radius: var(--1unit);
}

#manageProjectUserPanel {
  box-sizing: border-box;

  min-height: 0;

  border-radius: var(--15unit);

  background-color: var(--bgLight);

  padding: var(--15unit);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content minmax(0, auto);

  gap: var(--15unit);
}

#manageProjectUserList {
  border: var(--1unit) solid var(--stroke);
  border-radius: var(--10unit);

  display: grid;
  grid-template-columns: repeat(9, max-content);
  grid-auto-rows: min-content;

  overflow: auto;
}

#manageProjectUserListHdr,
#manageProjectUserListRow {
  display: contents;
}
#manageProjectUserListHdr > div,
#manageProjectUserListRow > div {
  border-bottom: var(--1unit) solid var(--stroke);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--10unit);
}
#manageProjectUserListHdr > div {
  padding: var(--10unit) var(--5unit);
  background-color: var(--bgDark);
}
#manageProjectUserListHdr > div:not(:last-child),
#manageProjectUserListRow > div:not(:last-child) {
  border-right: var(--1unit) solid var(--stroke);
}
#manageProjectUserListRow > div {
  padding: var(--5unit) var(--15unit);
}

.manageInfoBtn {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: var(--txtInfo);
}

#manageDetailNone,
#manageDetail {
  box-sizing: border-box;

  min-height: 0;

  border-radius: var(--15unit);
  padding: var(--15unit);

  background-color: var(--bgLight);
}
#manageDetail {
  display: grid;
  grid-template-rows: max-content auto;
  gap: var(--15unit);
}
#manageDetailNone {
  display: flex;
  justify-content: center;
  align-items: center;
}

#manageDetailTitle {
  display: flex;
  justify-content: space-between;
}

#manageDetailTitleBtns {
  display: flex;
  gap: var(--10unit);
}

#manageDetailContent {
  min-height: 0;

  display: flex;
  flex-direction: column;
  gap: var(--30unit);

  overflow: auto;
}

.manageUserInput {
  background-color: var(--bgDark);

  border-radius: var(--5unit);
  padding: var(--5unit) var(--10unit);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--txt);
}

.manageSubmitInfo {
  display: flex;
  flex-direction: column;
  gap: var(--5unit);
}

.manageSubmitInfoItem {
  display: flex;
  align-items: center;
  gap: var(--10unit);
}

.manageSubmitSep {
  padding: var(--5unit) var(--15unit);
}

.manageSubmitSep::before {
  display: block;

  content: "";

  width: 100%;
  height: var(--2unit);

  background-color: var(--stroke);

  border-radius: var(--1unit);
}

.manageNamedTextArea {
  background-color: var(--bgDark);

  padding: var(--10unit);
  border-radius: var(--5unit);

  display: flex;
  flex-direction: column;
  gap: var(--10unit);
}

.manageNamedTextArea > span {
  color: var(--txtSec);
  font-size: var(--14unit);
}

.manageNamedTextArea > textarea {
  background-color: transparent;

  min-height: var(--80unit);

  resize: vertical;
  border: 0;
  outline: none;

  color: var(--txt);
}

.manageNamedTextArea > textarea::placeholder {
  color: var(--txtSec);
}

.manageSelector {
  background-color: var(--bgDark);

  border-radius: var(--5unit);

  display: flex;
}
.manageSelector > div {
  padding: var(--5unit);

  user-select: none;
}
.manageSelector > div:is(:first-child) {
  padding-left: var(--10unit);
}
.manageSelector > div:is(:last-child) {
  padding-right: var(--10unit);
}

.manageSubmitReview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--10unit);
}

.manageSubmitOps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--5unit);
}

.manageSubmitReviewSubmitBtn {
  background-color: var(--theme);

  border: 0;
  border-radius: var(--5unit);
  padding: var(--5unit) var(--10unit);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--bgDark);
}
