RUST_BACKTRACE=1

RUST_LOG=info
HOST=0.0.0.0:8081
SQL_DB=sqlite://data/database.db?mode=rwc
REDIS_DB=redis://localhost

AWS_ENDPOINT_URL=http://localhost:9000
AWS_REGION=default
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=main
S3_INIT_BUCKET_IF_NOT_EXISTS=false
S3_FORCE_PATH_STYLE=true
